{
    frankenphp
}

srv829722.hstgr.cloud:443 {
    tls /etc/letsencrypt/live/srv829722.hstgr.cloud/fullchain.pem /etc/letsencrypt/live/srv829722.hstgr.cloud/privkey.pem
    root * /home/user/htdocs/ozmose/backend/public
    encode zstd br gzip
    php_server {
        try_files {path} index.php
    }
}
